button.button {
    min-width: 4.8rem;
    min-height: 4.8rem;
    border-radius: 0.8rem;
    background-color: #AB71ED;
    color: #FFFFFF;
    font-size: 1.6rem;
    padding: 1.0rem;
    text-align: center;
    outline: none;
    border: none;
    line-height: 1.6rem;
    font-weight: bold;
    font-family: 'Montserrat';
}

button.button:hover {
    background-color: #9B59E6;
}

button.button:active {
    transform: translateY(1px);
}