button.button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #AB71ED;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    outline: none;
    border: none;
    line-height: 16px;
    font-weight: bold;
    font-family: 'Montserrat';
}

button.button:hover {
    background-color: #9B59E6;
}

button.button:active {
    transform: translateY(1px);
}