body, html {
    margin: 0;
    background-color: #341C63;
    color: #FFFFFF;
    font-family: 'Montserrat', serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header_text {
    color: #FFFFFF;
}

.notes_text {
    color: #000000;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.timers_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}