body, html {
    margin: 0;
    background-color: #341C63;
    color: #FFFFFF;
    font-family: 'Montserrat', serif;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.6rem;
}

.mobile_row {
    display: flex;
    gap: 1.6rem;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header .header_item:first-child {
        align-self: center;
        margin: 0 auto;
    }

    .mobile_row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .header .header_item:nth-child(2) {
        margin-left: 0;
    }

    .timers_container {
        justify-content: center;
    }

    .title {
        font-size: 3.2rem;
    }
}

.content {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.header_text {
    color: #FFFFFF;
}

.notes_text {
    color: #000000;
}

.title {
    font-size: 4.0rem;
    font-weight: bold;
}

.timers_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.6rem;
}
